# SPDX-FileCopyrightText: 2018-2021 Łukasz Langa and contributors to Black
# SPDX-License-Identifier: MIT
#
# https://black.readthedocs.io/en/stable/guides/using_black_with_other_tools.html#flake8
[flake8]
max-line-length = 88
extend-ignore = E203
