# SPDX-FileCopyrightText: 2022-2024 Carnegie Mellon University
# SPDX-License-Identifier: 0BSD

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.16.0
    hooks:
      - id: pyupgrade
        name: Modernize python code
        args: ["--py37-plus"]

  - repo: https://github.com/asottile/yesqa
    rev: v1.5.0
    hooks:
      - id: yesqa
        additional_dependencies: &flake_deps
          - flake8-bugbear

  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: Reorder python imports with isort

  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black
        name: Format python code with black
        language_version: python3

  - repo: https://github.com/asottile/blacken-docs
    rev: 1.18.0
    hooks:
      - id: blacken-docs
        name: Format python code in documentation

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.0
    hooks:
      - id: flake8
        name: Lint python code with flake8
        additional_dependencies: *flake_deps

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.0
    hooks:
      - id: mypy
        name: Check type hints with mypy
        pass_filenames: false
        additional_dependencies:
          - attrs
          - segno

#  - repo: https://github.com/fsfe/reuse-tool
#    rev: v1.0.0
#    hooks:
#      - id: reuse
#        name: Check SPDX license tags
