alembic==1.13.1
arrow==1.3.0
atomicwrites==1.4.1
attrs==23.2.0
binaryornot==0.4.4
black==24.4.1
blinker==1.7.0
certifi==2024.2.2
cffi==1.16.0
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.3.2
cli-ui==0.17.2
click==8.1.7
colorama==0.4.6
colorclass==2.2.2
contextlib2==21.6.0
cookiecutter==2.6.0
cryptography==42.0.5
distlib==0.3.8
docopt==0.6.2
filelock==3.13.4
Flask==3.0.3
Flask-Login==0.6.3
flask-marshmallow==1.2.1
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
greenlet==3.0.3
identify==2.5.36
idna==3.7
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.3
location==0.0.7
Mako==1.3.3
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.1
marshmallow-sqlalchemy==1.0.0
mdurl==0.1.2
mypy==1.10.0
mypy-extensions==1.0.0
nodeenv==1.8.0
packaging==24.0
pastel==0.2.1
pathspec==0.12.1
pillow==10.3.0
pip-upgrader==1.4.15
platformdirs==4.2.1
pluggy==1.5.0
poethepoet==0.25.1
pre-commit==3.7.0
psutil==5.9.8
py==1.11.0
pycparser==2.22
Pygments==2.17.2
pyOpenSSL==24.1.0
pypng==0.20220715.0
pyroute2==0.7.12
pytest==8.1.1
pytest-mock==3.14.0
python-dateutil==2.9.0.post0
python-slugify==8.0.4
PyYAML==6.0.1
qrcode==7.4.2
requests==2.31.0
rich==13.7.1
schema==0.7.5
segno==1.6.1
setuptools==69.5.1
six==1.16.0
SQLAlchemy==2.0.29
tabulate==0.9.0
tbump==6.11.0
terminaltables==3.1.10
text-unidecode==1.3
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.4
types-python-dateutil==2.9.0.20240316
typing_extensions==4.11.0
Unidecode==1.3.8
urllib3==2.2.1
virtualenv==20.26.0
Werkzeug==3.0.2
wheel==0.43.0
win-inet-pton==1.1.0
wireguard-tools==0.4.7
