# SPDX-FileCopyrightText: 2022-2026 Carnegie Mellon University
# SPDX-License-Identifier: 0BSD

[tool.poe.tasks.check]
help = "Run pre-release checks (pre-commit and unit tests)"
sequence = [
    {cmd = "pre-commit run -a"},
    {cmd = "mypy"},
    {cmd = "pytest"},
]
executor = {type = "uv", isolated = true, group = ["test"]}

[tool.poe.tasks.update-dependencies]
help = "Update dependencies"
sequence = [
    {cmd = "uv lock --upgrade"},
    {cmd = "uv run pre-commit autoupdate"},
    {ref = "check"},
    {cmd = "git commit --no-verify -m 'Update dependencies' uv.lock .pre-commit-config.yaml"},
]

[tool.poe.tasks._version]
cmd = "uv version --short"

[tool.poe.tasks._bump]
cmd = "uv version --bump stable"

[tool.poe.tasks.tag-release]
help = "Bump version, build, and create a release tag"
deps = ["check", "_bump"]
sequence = [
    {cmd = "uv build"},
    {cmd = "git commit -m \"Release v${VERSION}\" pyproject.toml uv.lock"},
    {cmd = "git tag -m \"Release v${VERSION}\" v${VERSION}"},
]
uses = { VERSION = "_version" }

[tool.poe.tasks.publish]
help = "Publish release to pypi and git"
sequence = [
    {cmd = "uv publish"},
    {cmd = "git push --atomic origin main v${VERSION}"},
]
uses = { VERSION = "_version" }

[tool.poe.tasks.post-release]
help = "Bump to post release version"
sequence = [
    {cmd = "uv version --bump post"},
    {cmd = "git commit -m \"Bumping to v${VERSION}\" pyproject.toml uv.lock"},
]
uses = { VERSION = "_version" }

[tool.poe.tasks.release]
help = "Update to release version, build, tag, and publish"
sequence = [
    "tag-release",
    "publish",
    "post-release",
]
