{% extends 'base.html' %}

{% block title %} Dashboard {% endblock %}

{% block content %}
<div class="row">
    <div class="p-2 col-md">
        <h2>Dashboard</h2>
    </div>

    <div class="p-2 text-right col-md">
        <a href="{{ url_for('networks.networks_all') }}" class="btn btn-primary">Networks</a>
        <a href="{{ url_for('peers.peers_all') }}" class="btn btn-primary">Peers</a>
    </div>
    <p class="text-danger">Dashboard Widgets under development.</p>
    <div class="draggable-element shadow-3 col-md-4" data-mdb-draggable-init>
        <div class="card ">
            <canvas data-mdb-chart-init data-mdb-chart="pie" data-mdb-dataset-label="Peers"
                data-mdb-labels="['Active', 'Inactive' , 'Lighthouse', 'Orphan' ]"
                data-mdb-dataset-data="[{{ peers.active }}, {{ peers.inactive }}, {{ peers.lighthouse }}, {{ peers.orphan }}]"
                data-mdb-dataset-background-color="['rgba(77, 182, 172, 0.5)', 'rgba(233, 30, 99, 0.5)',  'rgba(66, 133, 244, 0.5)', 'rgba(255, 206, 86, 0.2)']"></canvas>
            <div class="card-body">
                <h5 class="card-title">Peers</h5>
                <p class="card-text">Active: {{ peers.active }}</p>
                <p class="card-text">Inactive: {{ peers.inactive }}</p>
                <p class="card-text">Lighthouse: {{ peers.lighthouse }}</p>
                <p class="card-text">Orphan: {{ peers.orphan }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}