{% extends 'base.html' %}

{% block title %} Network Details {% endblock %}

{% block content %}
<h2>Network Details</h2>

<div class="row">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ network.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted" id="baseIP">{{ network.base_ip }}</h6>
            <div class="form-outline">
                <form method="POST">
                    <div class="mb-3">
                        <label for="name" class="form-label">Node Name</label>
                        <input type="text" class="form-control" id="name" name="name"
                            value="{{ network.name }}">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <input type="text" class="form-control" id="description" name="description"
                            value="{{ network.description }}">
                    </div>
                    <div class="card">
                        <h6 class="card-header">Configuration</h6>
                        
                        <div class="mb-3">
                            <div class="mb-3">
                                <label for="address" class="form-label">Address</label>
                                <input type="text" class="form-control" id="address" name="address"
                                    value="{{ network.address }}">
                            </div>
                            <div class="mb-3">
                                <label for="dns" class="form-label">DNS</label>
                                <input type="text" class="form-control" id="dns" name="dns" value="{{ network.dns }}">
                            </div>

                        </div>
                    </div>
    
                    <button type="submit" class="btn btn-success">{{s_button}}</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container-fluid">
    <p>Note: All network configurations are stored in the database until they are deleted. Inactive network
        configurations are essentially in an unknown state.</p>
</div>

{% endblock %}

{% block scripts %}
<script src="{{url_for('static',filename='js/wireguard.js')}}"></script>
{% endblock %}