{% extends 'base.html' %}

{% block title %} Networks {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="mb-0">Networks</h2>
        <a href="{{ url_for('networks.networks_add') }}" class="btn btn-primary">Create Network</a>
    </div>
    <hr class="hr" />

    <!-- data table -->
    <div id="networks-datatable" data-mdb-loading="true">
    </div>

    <br>
    <div class="container-fluid">
        <p>Note: All network configurations are stored in the database until they are deleted. Inactive network
            configurations are essentially in an unknown state.</p>
        <input type="hidden" id="networkId">
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{url_for('static',filename='js/wireguard.js')}}"></script>
<script>
    window.onload = function () {
        loadNetworks();
    }

    function loadNetworks() {
        fetch("{{ url_for('networks.network_api',network_id=0)}}")
            .then((response) => response.json())
            .then((data) => {
                networksTable.update(
                    {
                        rows: data.map((network) => ({
                            ...network,
                            public_key: wireguard.getPublicKey(network.private_key),
                            endpoint_ip: `${network.endpoint_host}:${network.listen_port}`,
                            base_ip_range: `${network.base_ip}/${network.subnet}`,
                            peer_count: network.peer_count,
                            active: `
                            <span class="badge bg-danger" data-mdb-index="${network.id}">Inactive</span>
                            `,
                            actions: `
                            <a role="button" class="activate-network-button text-warning" data-mdb-index="${network.id}">
                                <i class="fas fa-power-off"></i>
                            </a>
                            <a role="button" class="edit-network-button text-muted ms-2" data-mdb-index="${network.id}">
                                <i class="fa fa-pen-to-square"></i>
                            </a>
                            <a role="button" class="delete-network-button text-muted ms-2" data-mdb-index="${network.id}">
                                <i class="fa fa-trash-alt"></i>
                            </a>
                            `,
                        })),
                    },
                    { loading: false }
                );
            });
    }

    const table = document.getElementById('networks-datatable');

    const setupButtons = (action) => {
        document.getElementsByClassName(`${action}-network-button`).forEach((button) => {
            if (action === 'activate') {
                button.addEventListener('click', (e) => {
                    e.stopPropagation();
                    const index = button.getAttribute('data-mdb-index');
                    let base_url = "{{ url_for('networks.network_activate',network_id=0)}}";
                    let url = base_url.replace(0, index);
                    console.log(`activate network: ${index} at ${url}`);
                    fetch(url, {
                        method: 'POST',
                    })
                        .then((response) => response.json())
                        .then((data) => {
                            console.log(data);
                            showAlert(data);
                            loadNetworks();
                        });
                });
            } else if (action === 'edit') {
                button.addEventListener('click', (e) => {
                    e.stopPropagation();
                    const index = button.getAttribute('data-mdb-index');
                    let base_url = "{{ url_for('networks.network_detail',network_id=0)}}";
                    let url = base_url.replace(0, index)
                    window.location.href = url;
                });
            } else if (action === 'delete') {
                button.addEventListener('click', (e) => {
                    e.stopPropagation();
                    const index = button.getAttribute('data-mdb-index');
                    let base_url = "{{ url_for('networks.network_api',network_id=0)}}";
                    let url = base_url.replace(0, index);
                    console.log(`delete network: ${index} at ${url}`);
                    fetch(url, {
                        method: 'DELETE',
                    })
                        .then((response) => response.json())
                        .then((data) => {
                            console.log(data);
                            showAlert(data);
                            loadNetworks();
                        });
                });
            } else {
                button.addEventListener('click', (e) => {
                    e.stopPropagation();
                    const index = button.getAttribute('data-mdb-index');
                    console.log(`${action} message: ${index}`, messages[index]);
                });
            }
        });
    };

    const columns = [
        { label: 'Activation', field: 'active', sort: false },
        { label: 'Name', field: 'name', sort: false },
        { label: 'Public Key', field: 'public_key', sort: false },
        { label: 'Net IP Range', field: 'base_ip_range', sort: true },
        { label: 'Endpoint IP:Port', field: 'endpoint_ip', sort: false },
        { label: 'Peers', field: 'peer_count', sort: true },
        { label: 'Actions', field: 'actions' },
    ];

    table.addEventListener('render.mdb.datatable', () => {
        setupButtons('activate');
        setupButtons('edit');
        setupButtons('delete');
    })

    const networksTable = new mdb.Datatable(
        table,
        { columns, },
        { loading: true }
    );
</script>
{% endblock %}