{% extends 'base.html' %}

{% block title %} Peer Details {% endblock %}

{% block content %}
<h2>Peer Details</h2>

<div class="row">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ peer.friendly_name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ peer.public_key }}</h6>
            <p class="card-text">{{ peer.description }}</p>
            <div class="form-outline">
                <textarea class="form-control" id="config" rows="10">{{ config }}</textarea>
                <label class="form-label" for="config">Config</label>
            </div>
            <button type="button" class="btn btn-success">{{s_button}}</button>
            <button type="button" class="btn btn-danger">Delete</button>
        </div>
    </div>
</div>
<br>
<div class="container-fluid">
    <p>Note: All peer configurations are stored in the database until they are deleted. Inactive peer
        configurations are essentially in an unknown state.</p>
</div>

{% endblock %}