{% extends 'base.html' %}

{% block title %} Peers {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <h2>Peers</h2>

        <div class="form-group">
            <div class="col-md float-right">
                <a href="{{ url_for('peers.peers_add') }}" class="btn btn-primary">Add Peer</a>
            </div>
        </div>
    </div>
    <hr class="hr" />
    <div class="row">

        {% for peer in peer_list %}

        <div class="col-md">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ peer.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ peer.public_key }}</h6>
                    <p class="card-text">{{ peer.description }}</p>
                    <a href="{{ url_for('peers.peers_all')}}/{{peer.id}}" class="card-link">Details</a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
<br>
<div class="container-fluid">
    <p>Note: All client configurations are stored in the database until they are deleted. Inactive client
        configurations are essentially in an unknown state.</p>
</div>

{% endblock %}