{% extends 'base.html' %}

{% block title %} Peers {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="mb-0">Peers</h2>
        <a href="{{ url_for('peers.peers_add') }}" class="btn btn-primary">Add Peer</a>
    </div>
    <hr class="hr" />
    <div class="card-group">
        {% if peer_list|length == 0 %}
        <div class="col-md">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">No Peers Found{% if network_id %} for network {{network_id}} {% endif %}
                    </h5>
                    <p class="card-text">No peers have been configured. Click the button above to add peers.</p>
                </div>
            </div>
        </div>
        {% endif %}

        {% for peer in peer_list %}

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ peer.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ peer.address }}</h6>
                    <p class="card-text">{{ peer.get_public_key() }}</p>
                    <p class="card-text">{{ peer.description }}</p>
                    <div class="card-footer row">
                        <div class="col-md-8">
                            <a href="{{ url_for('peers.peers_all')}}/{{peer.id}}" class="card-link">
                                Details</a>
                        </div>
                        <div class="col-md-4 d-flex justify-content-end">
                            {% if peer.active %}
                            <span class="badge bg-success">Active</span>
                            {% else %}
                            <span class="badge bg-danger">Inactive</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
<br>
<div class="container-fluid">
    <p>Note: All client configurations are stored in the database until they are deleted. Inactive client
        configurations are essentially in an unknown state.</p>
</div>

{% endblock %}

{% block scripts %}
<script src="{{url_for('static',filename='js/wireguard.js')}}"></script>
<script>
    window.onload = function () {

    }
</script>
{% endblock %}