{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="mb-0">User Profile</h2>
    </div>
    <hr class="hr" />
    <div class="row card-group">
        <div class="col-md">
            <div class="card">
                <div class="card-body">
                    {{current_user.username}}
                    {{current_user.email}}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}