{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="mb-0">Register</h2>
    </div>
    <hr class="hr" />
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="alert alert-danger">
                    {{ messages[0] }}. Go to <a href="{{ url_for('user.login') }}">login page</a>.
                </div>
                {% endif %}
                {% endwith %}
                <form method="POST" action="{{url_for('user.register')}}">
                    <div class="mb-3 form-outline" data-mdb-input-init>
                        <input type="text" class="form-control" id="name" name="name">
                        <label for="name" class="form-label">User Name</label>
                    </div>
                    <div class="mb-3 form-outline" data-mdb-input-init>
                        <input class="form-control" type="email" id="email" name="email">
                        <label for="name" class="form-label">Email</label>
                    </div>
                    <div class="mb-3 form-outline" data-mdb-input-init>
                        <input class="form-control" type="password" id="password" name="password">
                        <label for="password" class="form-label">Password</label>
                    </div>
                    <div class="mb-3 form-outline" data-mdb-input-init>
                        <input class="form-control" type="password" id="sudoPassword" name="sudoPassword">
                        <label for="sudoPassword" class="form-label">sudo Password</label>
                    </div>

                    <button class="btn btn-primary btn-block btn-lg">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}