{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="mb-0">Register</h2>
    </div>
    <hr class="hr" />
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="alert alert-danger">
                    {{ messages[0] }}. Go to <a href="{{ url_for('user.login') }}">login page</a>.
                </div>
                {% endif %}
                {% endwith %}
                <form method="POST" action="{{url_for('user.register')}}">
                    <div class="mb-3 form-outline position-relative" data-mdb-input-init>
                        <input type="text" class="form-control" id="name" name="name"/>
                        </input>
                        <label for="name" class="form-label">User Name</label>
                    </div>
                    <div class="mb-3 form-outline position-relative" data-mdb-input-init>
                        <input class="form-control" type="email" id="email" name="email"/>
                        <label for="email" class="form-label">Email</label>
                    </div>
                    <div class="mb-3 form-outline position-relative" data-mdb-input-init>
                        <input class="form-control" type="password" id="password" name="password"/>
                        <label for="password" class="form-label">Password</label>
                    </div>
                    <div class="mb-3 form-outline position-relative" data-mdb-input-init>
                        <input class="form-control" type="password" id="confirm_password" name="confirm_password"/>
                        <label for="confirm_password" class="form-label">Confirm Password</label>
                    </div>

                    <button class="btn btn-primary">Add user</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% if admin %}
<script>
    name_field = document.getElementById('name')
    name_field.value = 'admin';
    name_field.readOnly = true;
</script>
{% endif %}

<script>
    const togglePassword = document.querySelectorAll('.toggle-password');
    togglePassword.forEach((toggle) => {
        toggle.addEventListener('click', () => {
            const passwordField = document.querySelector(toggle.getAttribute('toggle'));
            if (passwordField.type === 'password') {
                passwordField.type = 'text';
            } else {
                passwordField.type = 'password';
            }
        });
    });
</script>

{% endblock %}