#mdb-footer {
  padding-left: 240px;
}
@media (max-width: 1439px) {
  #mdb-footer {
    padding-left: 0;
  }
}

#mdb-intro {
  padding-left: 240px;
  margin-top: 58.51px;
}
@media (max-width: 1439px) {
  #mdb-intro {
    padding-left: 0;
  }
}
