.switch-version {
  z-index: 1000;
  position: fixed;
  top: 300px;
  right: 0;
  width: 40px;
  background: #fff;
  border-radius: 4px 0 0 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

  a {
    display: block;
  }
}

.switch-to {
  width: 40px;
  height: 40px;
  display: block;
  background-image: url('https://mdbootstrap.com/img/logo/mdb-switch.png');

  &.active {
    background-color: rgba(0, 0, 0, 0.15);
  }

  &.mdb-standard {
    background-position: 0 -160px;
  }

  &.mdb-vue {
    background-position: 0 -80px;
  }

  &.mdb-angular {
    background-position: 0 0;
  }

  &.mdb-react {
    background-position: 0 -120px;
  }

  &.mdb-jquery {
    background-position: 0 -40px;
  }
}
